@model IEnumerable<ClientIM.Models.FriendLink>

@{
    ViewBag.Title = "Index";
    
}

<h2>Message</h2>

<table class="table">
    <tr>
        <th>
                Friend list
            
        </th>
        
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.requester == int.Parse(Session["person_id"].ToString())) { 

                @Html.DisplayFor(modelItem => item.Profile.first_name)
            }
            else if (item.requested == int.Parse(Session["person_id"].ToString()))
            {
                @Html.DisplayFor(modelItem => item.Profile1.first_name)
            }

        </td>
        <td>
            @if (item.requester != int.Parse(Session["person_id"].ToString()))
            {
                @Html.ActionLink("Message", "Create", new { id = item.requester })
            }            
            else if (item.requested != int.Parse(Session["person_id"].ToString()))
            {
                @Html.ActionLink("Message", "Create", new { id = item.requested })
            }


        </td>
    </tr>
}

</table>
